{% extends 'base.html.twig' %}

{% block title %}Edit AssoRecommander{% endblock %}

{% block body %}
    <h1>Edit AssoRecommander</h1>

    {{ include('assos_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_assos_crud_index') }}">back to list</a>

    {{ include('assos_crud/_delete_form.html.twig') }}
{% endblock %}
