{% extends 'base.html.twig' %}

{% block title %}Accueil Gnut 06
{% endblock %}

{% block body %}
	<div class="row mx-0 mt-5">
		<div class="col-12 col-lg-6 ">
			<div class="embed-responsive embed-responsive-16by9 mb-5">
				<video class="embed-responsive-item" width="100%" autoplay loop muted>
					<source src="videos/gnut_06.mp4" type="video/mp4">
					Votre navigateur ne supporte pas la lecture de vidéos.
				</video>
			</div>
			<div class="mt-3 mt-lg-0 text-center py-3">
				<h1 class="mb-4 text-success shadow-lg rounded">GNUT 06 aux maisons des associations de la ville de Nice</h1>
				<div class="alert alert-success" role="alert">
					<h3 class="text-success">Vivez une expérience immersive inoubliable avec l'association GNUT 06 !</h3>
					<p class="fs-3 fw-bold">Réservez dès maintenant votre séance de réalité virtuelle de 30 minutes pour seulement 29€.</p>
					<p>Plongez dans des mondes extraordinaires et laissez-vous transporter par des aventures qui défient l'imagination.</p>
					<p class="fs-3 text-danger fw-bold">De plus, nous offrons la gratuité pour les personnes en situation de handicap, car nous croyons en l'accessibilité pour tous.</p>
					<p>Et si vous souhaitez simplement découvrir notre association et nos activités, venez profiter d'une visite gratuite.</p>
					<p>Ne manquez pas cette occasion unique de vous évader du quotidien et d'explorer l'avenir de la technologie ludique.</p>
					<p>Réservez votre place dès aujourd'hui en sélectionnant votre lieu ci-dessous et préparez-vous à être émerveillé !</p>
					<a href="?page=news" class="btn btn-warning">
						Voir toutes les dates</a>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-6 mt-3 mt-lg-0 text-center py-3">
			<p class="fs-4">
				<strong>Gnut 06</strong>
				est une association
				<strong>dédiée à l'inclusion des personnes en situation de handicap grâce aux technologies innovantes.</strong>
				Notre mission est d'utiliser des outils tels que la réalité virtuelle et la réalité augmentée<strong>
					pour offrir des expériences concrètes et enrichissantes</strong>
				aux personnes
																			      en situation de handicap,
				<strong>favorisant ainsi leur intégration sociale et leur épanouissement.</strong>
			</p>

			<p class="fs-4">
				<strong>Nous organisons des visites à l'hôpital et dans les maisons de retraite,</strong>
				où nous proposons aux patients des moments d'évasion et de divertissement à travers l'utilisation de casques de réalité virtuelle.
				<strong>Ces expériences immersives permettent aux personnes en situation de handicap de s'évader de leur environnement médicalisé</strong>
				et de vivre des aventures virtuelles uniques, tout en stimulant leur imagination et leur bien-être.
			</p>

			<p class="fs-4">Parallèlement,
				<strong>nous proposons des stages d'initiation aux nouvelles technologies, ouverts à tous,</strong>
				afin d'aider les personnes en situation de handicap
																			      à développer de nouvelles compétences et à découvrir de nouvelles possibilités dans le domaine des technologies.
																			      Ces stages leur offrent la possibilité d'acquérir des connaissances pratiques, de renforcer leur estime de soi et de favoriser leur autonomie.</p>

			<img src="images/20240131_105425.jpg" class="image-appear_r img-fluid" alt="famille et casque VR">
			<br><br>
			<p class="fs-4">
				<strong>L'association Gnut 06 s'engage à promouvoir une société inclusive où tous les individus,</strong>
				quel que soit leur handicap,
																			      ont la possibilité de participer pleinement à la vie sociale, culturelle et professionnelle.
																			      Nous croyons fermement que les technologies innovantes peuvent
				<strong>jouer un rôle essentiel</strong>
				dans ce processus d'inclusion, en ouvrant de nouvelles perspectives et en brisant les barrières.</p>

			<p class="fs-4">
				<a href="?page=adhesion">
					<strong>Adhérez maintenant à l' Association Gnut 06</strong>
				</a>, et devenez un acteur clé de notre lutte pour l'inclusion.
																			      Votre soutien nous permettra de continuer nos actions, d'améliorer la qualité de vie des personnes en situation de handicap et de promouvoir une société plus juste et égalitaire pour tous. Ensemble, construisons un monde où le handicap ne limite pas les possibilités, mais les enrichit.</p>
		</div>
		<div class="my-5 text-center">
			<h2 class="mb-4 text-success">Découvrez la Réalité Virtuelle avec
				<strong>GNUT 06
				</strong>!</h2>
			<img src="images/fotor-2024022019319.jpg" class="img-fluid image-zoom" alt="famille et casque VR">
			<p class="fs-4">Vous rêvez d’explorer des mondes fantastiques, de combattre des dragons, ou de danser au rythme de la musique dans un univers immersif ?
				<br>L’association Gnut 06 vous invite à plonger dans la Réalité Virtuelle grâce au puissant casque Meta Quest 2 !</p>
			<h2>Pourquoi nous avons choisi le Meta Quest 2 ?</h2>
			<ul class="fs-4">
				<li>Autonomie totale : Plus besoin de PC ou de câbles encombrants. Le Meta Quest 2 est un casque tout-en-un qui vous offre une liberté totale de mouvement.</li>
				<li>Qualité visuelle exceptionnelle : Avec sa résolution cristalline et ses écrans OLED, le Meta Quest 2 vous transporte dans des mondes virtuels d’une beauté époustouflante.</li>
				<li>Bibliothèque de jeux variée : Explorez des centaines de jeux, expériences et applications disponibles sur le Meta Quest Store. Que vous soyez fan d’aventure, de sport, ou de créativité, il y en a pour tous les goûts !</li>
				<li>Facilité d’utilisation : Pas besoin d’être un expert en technologie. Le Meta Quest 2 est convivial et intuitif, même pour les débutants.</li>
			</ul>
			<h3 class="text-success">Réservez dès maintenant !</h3>
			<p class="fs-4 mb-5">La participation est ouverte à tous, mais les places sont limitées.<br>
				Ne manquez pas l’occasion de découvrir la Réalité Virtuelle avec le Meta Quest 2.<br>
				Pour une expérience immersive en réalité virtuelle, réservez votre séance de 30 minutes pour seulement 29€.*</p>
			<p class="fs-4 alert alert-danger">*Les personnes en situation de handicap peuvent bénéficier de cette aventure gratuitement.</p>
			<p class="fs-4">Sélectionnez votre lieu préféré et préparez-vous à plonger dans un monde où la technologie de pointe rencontre l'imaginaire.</p>
			<p class="fs-4">
				C'est une occasion parfaite pour s'évader du quotidien et explorer des univers au-delà des frontières du réel.</p>


		</div>
		<div class="text-center">
			<a href="?page=news" class="btn btn-warning">
				Voir toutes les dates
			</a>
		</div>
		<p class="fs-4 text-center">Nous sommes impatients de vous accueillir et de partager ensemble cette expérience unique. Rejoignez-nous pour franchir ensemble les portes de l'avenir de la technologie immersive !</p>
	</div>
	<div class="col-lg-3"></div>
</div></div>{% endblock %}
