{% extends 'base.html.twig' %}

{% block title %}Hello AdminAssoRecommanderController!{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/pages/admin_asso_recommander.css') }}">
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>D:/laragon/www/gnut06symfony/gnut06/symfonygnut06/app/src/Controller/AdminAssoRecommanderController.php</code></li>
        <li>Your template at <code>D:/laragon/www/gnut06symfony/gnut06/symfonygnut06/app/templates/admin_asso_recommander/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
