{% extends 'base.html.twig' %}

{% block title %}Boutique de Gnut 06
{% endblock %}

{% block body %}
	{# <div class="container text-center">
		<div class="row align-items-center">
			<div class="col-3"></div>
			<div class="col-9">
				<iframe src="https://poly.cam/capture/8e8f2637-0dd3-450e-b695-5a362a9f65e9/embed" title="polycam capture viewer" style="height:100%;width:100%;max-height:720px;max-width:1280px;min-height:280px;min-width:280px" frameborder="0"></iframe>
			</div>
			<div class="col-3"></div>
		</div>
	</div> #}
	<div class="pt-5">
		<div class="my-5 mx-3">
			<iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/gnut-06/boutiques/realite-virtuelle/widget" style="width: 100%; height: 1000px; border: none;"></iframe>
		</div>
	</div>
{% endblock %}
