<footer class="container-fluid mt-5 logoBack text-light">
  <div class="row py-2">
 
  <div class="text-center col-12">
    <ul class="list-inline text-center">
      <li class="list-inline-item text-light">
        {% set jours = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'] %}
        {% set mois = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'] %}
        Nous sommes le {{ 'now'|format_datetime(pattern="EEEE d MMMM y 'à' HH'h'mm", locale='fr') }} - 
      </li>
      <li class="list-inline-item">
        <a href="https://gnut06.org" target="_blank" class="link-light">&copy; Association Gnut 06 2024 - Version  3.1.0</a>
      </li>
      <li class="list-inline-item">&middot;</li>
      <li class="list-inline-item">
        <a href="{{ path('app_mention_legales') }}" class="link-light">Mentions légales</a>
      </li>
    </ul>
  </div>
</footer>

