body {
    background-color: white;
}
    .logoNavbar {
    width: 50px;
   }
  h1{
    text-align: center;
    color :darkolivegreen;
  }
  .logo_footer {
    width: 70%;
    height: auto;
  }
  
  .logoBack{
    background-color: black;
  }
  .logoAsso{
    width :80%;
  }
  .emoji {
    font-size: 1.5rem; /* Adjust size of emojis */
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
  }
  
  .HaAuthorizeButton {
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    background-color: #FFFFFF;
    border: 0.0625rem solid #49D38A;
    border-radius: 0.125rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .HaAuthorizeButton:disabled {
    background-color: #E9E9F0;
    border-color: transparent;
    cursor: not-allowed;
  }
  .HaAuthorizeButton:not(:disabled):focus {
    box-shadow: 0 0 0 0.25rem rgba(73, 211, 138, 0.25);
    -webkit-box-shadow: 0 0 0 0.25rem rgba(73, 211, 138, 0.25);
  }
  .HaAuthorizeButtonLogo {
    padding: 0 0.8rem;
    width: 2.25rem;
  }
  .HaAuthorizeButtonTitle {
    background-color: #49D38A;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.78125rem 1.5rem;
  }
  .HaAuthorizeButton:disabled .HaAuthorizeButtonTitle {
    background-color: #E9E9F0;
    color: #9A9DA8;
  }
  .HaAuthorizeButton:not(:disabled):hover .HaAuthorizeButtonTitle,
  .HaAuthorizeButton:not(:disabled):focus .HaAuthorizeButtonTitle {
    background-color: #30c677;
  }
  /* Début Google map */
  
  /* .google-map {
    padding-left: 0px;
    padding-right: 0px;
  }
  .map-responsive {
    margin: 0;
    overflow: hidden;
    padding-bottom: 20%;
    position: relative;
  }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  } */
  
  /* Elimine le blanc entre la map et footer*/
  /* .map-responsive {
    display: flex;
    justify-content: center;
  } */
  
  .map-responsive iframe {
    width: 100%;
  }
  /* Fin Google map*/
  
  /* New CSS */
  body {
    font-family: "Lato", serif !important;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Abril Fatface", serif !important;
  }
  
  gmpx-store-locator {
    width: 100%;
    height: 100%;
  
    /* These parameters customize the appearance of Locator Plus. See the documentation at
       https://github.com/googlemaps/extended-component-library/blob/main/src/store_locator/README.md
       for more information. */
    --gmpx-color-surface: #fff;
    --gmpx-color-on-surface: #212121;
    --gmpx-color-on-surface-variant: #757575;
    --gmpx-color-primary: #1967d2;
    --gmpx-color-outline: #e0e0e0;
    --gmpx-fixed-panel-width-row-layout: 28.5em;
    --gmpx-fixed-panel-height-column-layout: 65%;
    --gmpx-font-family-base: "Roboto", sans-serif;
    --gmpx-font-family-headings: "Roboto", sans-serif;
    --gmpx-font-size-base: 0.875rem;
    --gmpx-hours-color-open: #188038;
    --gmpx-hours-color-closed: #d50000;
    --gmpx-rating-color: #ffb300;
    --gmpx-rating-color-empty: #e0e0e0;
  }
  
  /* Remove for complete responsive carousel */
  .carousel-item img {
    max-height: 100vh;
  }
  .imgTop
  {
    height: 75px;
  }
  
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
   gmp-map {
    height: 100%;
  }
  
  /* Footer */
  .icon-footer {
    border-radius: 50%;
  }
  /* Définition de l'animation */
  @keyframes slide-in-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
  }
  
  /* Appliquer l'animation à l'image */
  .image-appear {
    animation: slide-in-left 1s ease-out;
  }
  @keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
  }
  
  /* Appliquer l'animation à l'image */
  .image-appear_r {
    animation: slide-in-right 1s ease-out;
  }
  @keyframes zoom-in {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
  }
  
  /* Appliquer l'animation à l'image au survol */
  .image-zoom {
    transition: transform 0.3s ease;
  }
  
  .image-zoom:hover {
    animation: zoom-in 0.3s forwards;
  }