$success: #49D38A;
$warning: #FFBE58;
$danger: #FF1C2F;
$primary: #4C40CF;
$secondary: #E882E8;
$dark: #333333;
$light: #F2F2F2;
$box-shadow-lg: 0 1rem 3rem rgba($secondary, .175);
$box-shadow: 0 .5rem 1rem rgba($secondary, .15);
$box-shadow-sm: 0 .125rem .25rem rgba($secondary, .075);
$pagination-active-bg: $success;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1640px
);
// Utilisation des variables CSS pour les couleurs des tooltips
$tooltip-bg: $dark;
