$success: #49D38A;
$warning: #FFBE58;
$danger: #FF1C2F;
$primary: #4C40CF;
$secondary: #E882E8;
$dark: #333333;
$light: #F2F2F2;
$box-shadow-lg: 0 1rem 3rem rgba($secondary, .175);
$box-shadow: 0 .5rem 1rem rgba($secondary, .15);
$box-shadow-sm: 0 .125rem .25rem rgba($secondary, .075);
$pagination-active-bg: $success;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1640px
);
// Utilisation des variables CSS pour les couleurs des tooltips
$tooltip-bg: $dark;

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
