{% extends 'base.html.twig' %}

{% block title %}Agent IA Handicap by Gnut 06
{% endblock %}

{% block body %}
	<div class="container">
		<div class="container mt-5">
			<div class="text-center">
				<h1 class="text-primary">Bienvenue sur notre plateforme dédiée aux personnes en situation de handicap !</h1>
				<p class="lead">Nous sommes fiers de vous présenter notre nouvel assistant virtuel,
					<strong>Handicap</strong>, conçu pour vous accompagner et répondre à toutes vos questions de la vie courante.</p>
			</div>
			<div class="row mt-4">
				<div class="col-md-6">
					<h2 class="text-secondary">Pourquoi utiliser notre assistant Handicap ?</h2>
					<ul class="list-group">
						<li class="list-group-item">
							<strong>Accessibilité</strong>
							: Notre assistant est disponible 24h/24 et 7j/7 pour répondre à vos questions, où que vous soyez.</li>
						<li class="list-group-item">
							<strong>Fiabilité</strong>
							: Nous nous appuyons sur des sources fiables et collaborons avec des experts et des associations spécialisées pour vous fournir des informations précises et à jour.</li>
						<li class="list-group-item">
							<strong>Empathie</strong>
							: Nous comprenons les défis uniques auxquels vous faites face et nous nous engageons à vous offrir un soutien respectueux et encourageant.</li>
						<li class="list-group-item">
							<strong>Praticité</strong>
							: Obtenez des conseils pratiques et des solutions concrètes pour améliorer votre quotidien.</li>
					</ul>
				</div>
				<div class="col-md-6">
					<h2  class="text-secondary">Comment ça marche ?</h2>
					<p>Il vous suffit de poser votre question à notre assistant Handicap, et il vous fournira des réponses adaptées à vos besoins. Que ce soit pour trouver des lieux accessibles, obtenir des informations sur les aides techniques, ou simplement discuter, notre assistant est là pour vous.</p>
				</div>
			</div>
			<div class="text-center mt-5">
				<p>Nous espérons que notre assistant Handicap vous sera d'une grande aide et nous sommes impatients de vous accompagner dans votre quotidien.</p>
			</div>
		</div>
        <div class="text-center my-5">
        <iframe src="https://copilotstudio.microsoft.com/environments/Default-eab983d4-f55b-4a97-a9ba-de1d467df8de/bots/cr9f3_agentHandicap/webchat?__version__=2" frameborder="0" style="width: 100%; height: 750px;"></iframe>
        </div>
	</div>
{% endblock %}
