{% extends 'base.html.twig' %}

{% block title %}Hello MailjetController!{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/pages/mailjet.css') }}">
{% endblock %}

{% block body %}
<div class="example-wrapper-mailjet">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/laragon/www/symfonygnut06/app/src/Controller/MailjetController.php</code></li>
        <li>Your template at <code>C:/laragon/www/symfonygnut06/app/templates/mailjet/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}
