includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 6
    paths:
        - src

    ignoreErrors:
        - message: '#property\.unusedType#'
          path: %currentWorkingDirectory%/src/Entity/.*\.php