{% extends 'base.html.twig' %}

{% block title %}Formulaire de droit à l'image
{% endblock %}

{% block body %}

	<div class="container">
		<h1>Formulaire de droit à l'image</h1>
		 <iframe src="https://eu1.documents.adobe.com/public/esignWidget?wid=CBFCIBAA3AAABLblqZhDvpuCySNSrv2nTf7Nziig8DpHSAO_7VzkJFRlsMGQAekfTvfwW1AdL6Dt03B4gum8*&hosted=false" width="100%" height="1750px" frameborder="0" style="border: 0; overflow: hidden"></iframe>
		<p class="mt-4">Ce formulaire est destiné à recueillir votre consentement pour l'utilisation de votre image dans le cadre des activités de notre association.</p>
		<p>En remplissant ce formulaire, vous acceptez que nous puissions utiliser votre image dans le cadre de nos activités de communication et de promotion.</p>
		<p>Nous vous remercions de votre confiance et de votre soutien à notre association.</p>
		<p>Si vous avez des questions ou des préoccupations concernant ce formulaire, n'hésitez pas à <a href="{{ path('app_contact') }}">nous contacter</a>.</p>
		<p>Nous vous remercions de votre confiance et de votre soutien à notre association.</p>
 
	</div>
{% endblock %}
