<!-- Image flottante cliquable -->
<img src="{{ asset('images/agent_ai2.png') }}" alt="Aide IA"
     id="openChat"
     class="shadow-lg position-fixed bottom-0 end-0 m-4 floating-icon">


<!-- Bulle de chat moderne -->
<div class="card chat-box position-fixed bottom-0 end-0 m-3 d-none shadow-lg rounded-4" id="chatBox">
<div class="card-header text-white d-flex justify-content-between align-items-center rounded-top-4 px-4 py-3">
    <span class="fw-semibold fs-5">Agent IA</span>
    <button class="btn btn-sm btn-light rounded-circle d-flex align-items-center justify-content-center" id="closeChat" aria-label="Fermer">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="card-body card-body-agent-ai">
    <iframe src="https://copilotstudio.microsoft.com/environments/Default-eab983d4-f55b-4a97-a9ba-de1d467df8de/bots/cr9f3_agentHandicap/webchat?__version__=2" frameborder="0"></iframe>
  </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    const openBtn = document.getElementById('openChat');
    const chatBox = document.getElementById('chatBox');
    const closeBtn = document.getElementById('closeChat');

    openBtn.addEventListener('click', () => {
      chatBox.classList.remove('d-none');
      openBtn.classList.add('d-none');
    });

    closeBtn.addEventListener('click', () => {
      chatBox.classList.add('d-none');
      openBtn.classList.remove('d-none');
    });

    // Vibration toutes les 30 secondes pendant 3 secondes
    setInterval(() => {
      openBtn.classList.add('vibrate');
      setTimeout(() => {
        openBtn.classList.remove('vibrate');
      }, 4000);
    }, 10000);
  });
</script>

</script>
