{% extends 'base.html.twig' %}

{% block title %}Gnut 06 dans la Revue Sainte Rita
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center mt-5 text-primary">Gnut 06 dans la Revue Sainte Rita</h1>
		<div class="text-center">
			<img src="{{ asset('images/ste-rita_1.png') }}" alt="Revue Sainte Rita" class="img-fluid mt-5">
		</div>
		<div class="row">
			<div class="col-12 col-xl-6 text-center order-xl-2 order-2"><img src="{{ asset('images/ste-rita_2.png') }}" alt="Revue Sainte Rita" class="img-fluid mt-5"></div>
			<div class="col-12 col-xl-6 d-flex align-items-center justify-content-center order-xl-1 order-1">
				<div>
					<p class="text-center">Nous sommes heureux d'annoncer que le premier article sur notre association Gnut 06 est paru dans la Revue Sainte Rita. Cet article présente notre association et nos activités, ainsi que notre engagement pour la promotion de l'inclusion des personnes en situation de handicap et de leurs aidants.</p>
					<p class="text-center">Nous sommes très fiers de cette publication et nous remercions la Revue Sainte Rita pour cette opportunité. Nous espérons que cet article permettra de sensibiliser un plus large public à notre cause et de mobiliser de nouveaux soutiens pour nos actions.</p>
					<p class="text-center">La Revue Sainte Rita est une revue catholique mensuelle qui est diffusée dans toute la France. Elle est très appréciée pour ses articles de qualité et son approche ouverte et inclusive. Nous sommes très honorés d'avoir été choisis pour y publier un article.</p>
					<div class="text-center mb-5">
						<a href="https://www.sainte-rita.net/revue-sainte-rita-magazine-chretien/la-revue/revue-novembre-2024" class="btn btn-warning" target="_blanck">Lire l'article</a>
					</div>
					<p class="text-center">Cet article vous permettra de découvrir comment Gnut 06 se mobilise pour favoriser l'inclusion des personnes en situation de handicap et soutenir leurs aidants. Nous vous invitons à lire cet article pour en savoir plus sur nos actions concrètes et à nous rejoindre dans cette démarche solidaire.</p>
					<p class="text-center">Merci de votre soutien !</p>
					<p class="text-center">L'équipe de Gnut 06</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
