{% extends 'base.html.twig' %}

{% block title %}Dossier de presse - Gnut 06{% endblock %}

{% block body %}
	<div class="container">
		<div class="accordion" id="accordionAdherent">
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Gnut 06 dans la Revue Sainte Rita
					</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<h2 class="text-center mt-5 text-primary">Gnut 06 dans la Revue Sainte Rita</h2>
						<div class="text-center">
							<img src="{{ asset('images/ste-rita_1.png') }}" alt="Revue Sainte Rita" class="img-fluid mt-5">
						</div>
						<div class="row">
							<div class="col-12 col-xl-6 text-center order-xl-2 order-2"><img src="{{ asset('images/ste-rita_2.png') }}" alt="Revue Sainte Rita" class="img-fluid mt-5"></div>
							<div class="col-12 col-xl-6 d-flex align-items-center justify-content-center order-xl-1 order-1">
								<div>
									<p class="text-center">Nous sommes heureux d'annoncer que le premier article sur notre association Gnut 06 est paru dans la Revue Sainte Rita. Cet article présente notre association et nos activités, ainsi que notre engagement pour la promotion de l'inclusion des personnes en situation de handicap et de leurs aidants.</p>
									<p class="text-center">Nous sommes très fiers de cette publication et nous remercions la Revue Sainte Rita pour cette opportunité. Nous espérons que cet article permettra de sensibiliser un plus large public à notre cause et de mobiliser de nouveaux soutiens pour nos actions.</p>
									<p class="text-center">La Revue Sainte Rita est une revue catholique mensuelle qui est diffusée dans toute la France. Elle est très appréciée pour ses articles de qualité et son approche ouverte et inclusive. Nous sommes très honorés d'avoir été choisis pour y publier un article.</p>
									<div class="text-center mb-5">
										<a href="https://www.sainte-rita.net/revue-sainte-rita-magazine-chretien/la-revue/revue-novembre-2024" class="btn btn-warning" target="_blanck">Lire l'article</a>
									</div>
									<p class="text-center">Cet article vous permettra de découvrir comment Gnut 06 se mobilise pour favoriser l'inclusion des personnes en situation de handicap et soutenir leurs aidants. Nous vous invitons à lire cet article pour en savoir plus sur nos actions concrètes et à nous rejoindre dans cette démarche solidaire.</p>
									<p class="text-center">Merci de votre soutien !</p>
									<p class="text-center">L'équipe de Gnut 06</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
						Découvrez le potentiel des univers immersifs avec Gnut 06 !  (par Mme Nat Bad)
					</button>
				</h2>
				<div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
					<div class="accordion-body text-center">
						<h2 class='text-primary'>Découvrez le potentiel des univers immersifs avec Gnut 06 !</h2>
						<p>
							Nous sommes ravis de partager avec vous une histoire inspirante de notre association, Gnut 06, dédiée à l'inclusion des personnes en situation de handicap. Gérald, notre président, et toute l'équipe travaillent sans relâche pour organiser des événements immersifs et interactifs, permettant à chacun de vivre des expériences uniques et de faire des rencontres enrichissantes.
						</p>
						<h3>Résumé de l'article :</h3>
						<p>
							L'article, écrit par Mme Nat Bad, raconte l'histoire de Gérald, président de l'association Gnut 06 à Nice, qui organise des événements immersifs pour les personnes à mobilité réduite. L'auteur de l'article propose ses services comme animatrice pour la communauté virtuelle de l'association. Cependant, l'association ne dispose que de deux casques de réalité virtuelle, limitant le nombre de participants simultanés. Gérald a donc mis en place une <a href="{{ path('app_crowdfundings') }}">cagnotte en ligne</a> pour l'acquisition d'un casque supplémentaire, afin d'étendre l'action de l'association. L'auteur souligne le formidable potentiel des univers immersifs comme créateurs de liens et vecteurs d'inclusion.
						</p>

						<div class="text-center mb-5">
							<a href="https://natbad.beehiiv.com/p/natbad-s-update-1-2fc3" class="btn btn-warning" target="_blanck">Lire l'article complet</a>
						</div>

						<h3>Participez à notre cagnotte en ligne !</h3>
						<p>
							Pour étendre notre action et permettre à plus de personnes de profiter de ces expériences, nous avons lancé une <a href="{{ path('app_crowdfundings') }}">cagnotte en ligne</a>. Votre soutien nous aidera à acquérir un casque supplémentaire et à continuer à promouvoir l'inclusion par les univers immersifs.
						</p>
						<h3>Un grand merci à Mme Nat Bad et à tous nos soutiens !</h3>
						<p>
							Nous tenons à remercier chaleureusement Mme Nat Bad pour son article ainsi que tous ceux qui nous soutiennent déjà. Ensemble, nous pouvons faire une réelle différence et montrer le formidable potentiel des univers immersifs comme créateurs de liens et vecteurs d'inclusion.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
