{% extends 'base.html.twig' %}

{% block title %}A propos de Gnut 06{% endblock %}

{% block body %}
<div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6 pb-5">

<div class="container mt-5">
    <h2 class="mb-4 text-center text-primary">À propos de l'association Gnut 06</h2>
    
    <p>L'association Gnut 06 est née de la conviction que chaque individu, quel que soit son handicap, a le droit de vivre des expériences enrichissantes et d'être pleinement intégré dans la société.</p>

    <h3 class="mt-4">Notre Mission</h3>
    <p>Nous utilisons les technologies innovantes comme la réalité virtuelle, augmentée et mixte pour créer des expériences concrètes pour les personnes en situation de handicap. Notre objectif est de leur permettre de transcender les limites imposées par leur environnement physique et de leur offrir une chance d'explorer, d'apprendre et de s'épanouir.</p>

    <h3>Nos Activités</h3>
    <p>Nos membres dévoués organisent régulièrement des visites à l'hôpital, transformant les chambres d'hôpital en portails vers d'autres mondes grâce à la réalité virtuelle. Ces séances ne sont pas seulement divertissantes, elles offrent un répit essentiel aux patients en les éloignant temporairement de leur environnement médicalisé.</p>
    <p>Par ailleurs, nous proposons également des stages d'initiation aux nouvelles technologies. Ces ateliers visent à familiariser les participants avec les outils de demain, renforçant ainsi leur estime de soi et leur autonomie.</p>

    <h3>Notre Vision</h3>
    <p>Nous aspirons à une société où le handicap n'est pas une barrière. Une société où les technologies innovantes servent de ponts, comblant les fossés et ouvrant des horizons. À travers nos efforts, nous espérons inspirer d'autres à envisager un monde plus inclusif.</p>
    <h2 class="mb-4 text-primary text-center"><strong>Objectif principal de l'association Gnut 06 :</strong></h2>

    L'association Gnut 06 a pour mission de créer un métavers innovant pour le département des Alpes-Maritimes (06), utilisant la plateforme FrameVR.io. Ce métavers offrira une gamme diversifiée de services allant du secrétariat à la création d'applications de réalité virtuelle (VR). Il vise à intégrer toutes les professions utilisant les nouvelles technologies et à générer de nouveaux métiers.

    Ce projet ambitieux sera entièrement géré par des personnes en situation de handicap et leurs aidants, permettant ainsi leur inclusion et valorisation dans le monde professionnel. Gnut 06 s'engage à rechercher et à mettre en œuvre des solutions de formation adaptées, notamment grâce à l'intervention de bénévoles, afin de réinsérer ces personnes avec de nouveaux objectifs professionnels, à un rythme respectueux de leur situation.
    <br>
    <strong>Exemples de services offerts :</strong>
    <ul>
        <li><strong>Secrétariat virtuel</strong> : Gestion administrative et assistance à distance.</li>
        <li><strong>Création d'applications VR</strong> : Développement d'applications immersives pour divers secteurs.</li>
        <li><strong>Formation en nouvelles technologies</strong> : Cours et ateliers pour apprendre les compétences numériques.</li>
        <li><strong>Support technique</strong> : Assistance et dépannage informatique.</li>
        <li><strong>Marketing digital</strong> : Stratégies de communication et gestion des réseaux sociaux.</li>
        <li><strong>Design graphique</strong> : Création de visuels et d'animations pour divers projets.</li>
    </ul>
    <br>
    <h2 class="mb-4 text-primary text-center"><strong>Objectifs 2025 de l'association Gnut 06 :</strong></h2>
    <ol>
        <li><strong>Créer un métavers innovant</strong> : Utiliser la plateforme FrameVR.io pour développer un métavers pour le département des Alpes-Maritimes (06), offrant une variété de services technologiques.</li>
        <li><strong>Favoriser l'inclusion professionnelle</strong> : Intégrer des personnes en situation de handicap et leurs aidants dans la gestion et le développement du métavers, valorisant ainsi leurs compétences et leur permettant de s'épanouir professionnellement.</li>
        <li><strong>Proposer des services diversifiés</strong> : Offrir des services tels que le secrétariat virtuel, la création d'applications VR, la formation en nouvelles technologies, le support technique, le marketing digital et le design graphique.</li>
        <li><strong>Former et réinsérer</strong> : Mettre en place des programmes de formation adaptés, dispensés par des bénévoles, pour permettre aux personnes en situation de handicap d'acquérir de nouvelles compétences et de se réinsérer professionnellement à un rythme adapté à leur situation.</li>
        <li><strong>Innover et créer de nouveaux métiers</strong> : Exploiter les nouvelles technologies pour générer de nouveaux métiers et opportunités professionnelles dans le département.</li>
        <li><strong>Promouvoir l'entraide et la solidarité</strong> : Encourager la collaboration et le soutien mutuel entre les membres de l'association, les bénévoles et les bénéficiaires.</li>
        <li><strong>Sensibiliser le public</strong> : Organiser des campagnes de sensibilisation pour informer le public sur les défis et les capacités des personnes en situation de handicap, et promouvoir une société plus inclusive. Gnut 06 a déjà mis en place des séances d'immersion à la réalité virtuelle avec des casques VR Meta Quest 2 pour sensibiliser le public.</li>
        <li><strong>Éduquer sur les nouvelles technologies</strong> : Informer et éduquer le public sur les avantages et les possibilités offertes par les nouvelles technologies, en particulier pour les personnes en situation de handicap.</li>
        <li><strong>Collaborer avec d'autres organisations</strong> : Travailler en partenariat avec d'autres associations, entreprises et institutions pour renforcer l'impact de nos actions de sensibilisation et d'inclusion.</li>
    </ol>
    </div>
<div class="col-lg-3"></div>
</div>
{% endblock %}
