{% extends 'admin/base.html.twig' %}

{% block title %}Association à Nice{% endblock %}

{% block body %}
<div class="container-fluid mt-5 py-3 px-4 text center">
    <h2 class="my-5 text-success text-center">Administration</h2>

    <div class="row align-items-start">
        Bienvenu dans l'interface d'administration. Vous pouvez gérer les associations et les utilisateurs.
    </div>
</div>
{% endblock %}