{% extends 'base.html.twig' %}

{% block title %}Adhésion à l'association GNUT 06
{% endblock %}

{% block body %}
	<div class="container">
		<div class="accordion" id="accordionAdherent">
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Adhésion à l'association GNUT 06 pour un particulier
					</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<h1>Rejoignez Gnut 06 et libérez votre potentiel numérique avec 1 To de stockage cloud !</h1>
						<p>En devenant membre de Gnut 06, vous vous engagez pour une société plus inclusive grâce aux nouvelles technologies. En retour, nous vous offrons une multitude d'avantages, dont :</p>
						<ul>
							<li>Un espace de travail en ligne personnalisé : Bénéficiez d'une adresse email professionnelle (monspeudo@gnut06.org) et de 1 To de stockage sécurisé dans le cloud pour sauvegarder tous vos fichiers, photos et vidéos. Accédez-y à tout moment, depuis n'importe quel appareil connecté à Internet.</li>
							<li>La suite complète Microsoft 365 Business Basic : Profitez de Word, Excel, PowerPoint, Outlook et bien d'autres outils pour travailler efficacement, où que vous soyez.</li>
							<li>Une communauté engagée : Rejoignez notre réseau d'adhérents et participez à des événements pour échanger et collaborer.</li>
							<li>Un impact positif : En adhérant, vous soutenez nos projets innovants en faveur de l'inclusion numérique.</li>
						</ul>
						<p>Ne laissez pas passer cette opportunité de vous développer personnellement et professionnellement tout en soutenant une cause qui vous tient à cœur !</p>
						<img src="{{ asset('images/handicapwork.jpg') }}" class="img-fluid" alt="Une personne travaillant sur un ordinateur portable, avec en arrière-plan des visuels représentant les valeurs de Gnut 06">
						<h2>Pourquoi choisir Gnut 06 ?</h2>
						<ul>
							<li>Un accompagnement personnalisé : Bénéficiez de conseils et d'un soutien pour tirer le meilleur parti de nos outils.</li>
							<li>Une communauté active : Échangez avec d'autres membres et participez à des événements.</li>
							<li>Des projets innovants : Soutenez des initiatives qui font bouger les lignes.</li>
						</ul>
						<p>Rejoignez-nous dès maintenant et construisons ensemble un avenir plus inclusif !</p>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Adhésion à l'association GNUT 06 pour une association
					</button>
				</h2>
				<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div class="row">
							<div class="col-md-6">
								<p>En devenant membre de Gnut 06, vous vous engagez pour une société plus inclusive grâce aux nouvelles technologies. En retour, nous vous offrons une multitude d'avantages, dont :</p>
								<ul>
									<li>
										<strong>Un espace de travail en ligne personnalisé :</strong>
										Bénéficiez d'une adresse email professionnelle (monspeudo@gnut06.org) et de 1 To de stockage sécurisé dans le cloud pour sauvegarder tous vos fichiers, photos et vidéos. Accédez-y à tout moment, depuis n'importe quel appareil connecté à Internet.</li>
									<li>
										<strong>La suite complète Microsoft 365 Business Basic :</strong>
										Profitez de Word, Excel, PowerPoint, Outlook et bien d'autres outils pour travailler efficacement, où que vous soyez.</li>
									<li>
										<strong>Une communauté engagée :</strong>
										Rejoignez notre réseau d'adhérents et participez à des événements pour échanger et collaborer.</li>
									<li>
										<strong>Un impact positif :</strong>
										En adhérant, vous soutenez nos projets innovants en faveur de l'inclusion numérique.</li>
								</ul>
								<p>Ne laissez pas passer cette opportunité de vous développer personnellement et professionnellement tout en soutenant une cause qui vous tient à cœur !</p>
							</div>
							<div class="col-md-6">
								<h2>Pourquoi choisir Gnut 06 ?</h2>
								<ul>
									<li>
										<strong>Un accompagnement personnalisé :</strong>
										Bénéficiez de conseils et d'un soutien pour tirer le meilleur parti de nos outils.</li>
									<li>
										<strong>Une communauté active :</strong>
										Échangez avec d'autres membres et participez à des événements.</li>
									<li>
										<strong>Des projets innovants :</strong>
										Soutenez des initiatives qui font bouger les lignes.</li>
								</ul>
								<p>Rejoignez-nous dès maintenant et construisons ensemble un avenir plus inclusif !</p>
                <img src="{{ asset('images/handicapwork.jpg') }}" class="img-fluid" alt="Une personne travaillant sur un ordinateur portable, avec en arrière-plan des visuels représentant les valeurs de Gnut 06">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="pt-5">
		<div class="my-5 mx-3">
			<iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/gnut-06/adhesions/adhesion-a-l-association-gnut-06/widget" style="width: 100%; height: 100vh; border: none;"></iframe>
		</div>
	</div>
{% endblock %}
