{% extends 'base.html.twig' %}

{% block title %}Adhésion à l'association GNUT 06
{% endblock %}

{% block body %}
	<div class="container">
	<h1 class="text-center my-4 text-primary">Adhésion à l'association GNUT 06</h1>
		<div class="accordion" id="accordionAdherent">
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Adhésion à l'association GNUT 06 pour un particulier
					</button>
				</h2>
				<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<h1>Rejoignez Gnut 06 !</h1>
						<p>En devenant membre de Gnut 06, vous vous engagez pour une société plus inclusive grâce aux nouvelles technologies. En retour, nous vous offrons une multitude d'avantages, dont :</p>
						<ul>
							{# <li>Un espace de travail en ligne personnalisé : Bénéficiez d'une adresse email professionnelle (monspeudo@gnut06.org) et de 1 To de stockage sécurisé dans le cloud pour sauvegarder tous vos fichiers, photos et vidéos. Accédez-y à tout moment, depuis n'importe quel appareil connecté à Internet.</li>
																																										<li>La suite complète Microsoft 365 Business Basic : Profitez de Word, Excel, PowerPoint, Outlook et bien d'autres outils pour travailler efficacement, où que vous soyez.</li> #}
							<li>Un espace de travail en ligne personnalisé : Bénéficiez d'une adresse email professionnelle (monspeudo@gnut06.org).</li>
							<li>Une communauté engagée : Rejoignez notre réseau d'adhérents et participez à des événements pour échanger et collaborer.</li>
							<li>Un impact positif : En adhérant, vous soutenez nos projets innovants en faveur de l'inclusion numérique.</li>
							<li>Des avantages exclusifs : Profitez de réductions sur nos formations et événements, ainsi que sur les produits et services de nos partenaires.</li>
							<li>Profitez de votre avantage bien-être avec Pôle Ostéo !</li>
							<li>Des projets innovants : Soutenez des initiatives qui font bouger les lignes.</li>
							<li>Des outils pour vous accompagner : Accédez à des ressources et des guides pratiques pour vous aider à développer vos compétences et à mener à bien vos projets.</li>
						</ul>
						<p>Ne laissez pas passer cette opportunité de vous développer personnellement et professionnellement tout en soutenant une cause qui vous tient à cœur !</p>
						<img src="{{ asset('images/handicapwork.webp') }}" class="img-fluid" alt="Une personne travaillant sur un ordinateur portable, avec en arrière-plan des visuels représentant les valeurs de Gnut 06">
						<h2>Pourquoi choisir Gnut 06 ?</h2>
						<ul>
							<li>Un accompagnement personnalisé : Bénéficiez de conseils et d'un soutien pour tirer le meilleur parti de nos outils.</li>
							<li>Une communauté active : Échangez avec d'autres membres et participez à des événements.</li>
							<li>Des projets innovants : Soutenez des initiatives qui font bouger les lignes.</li>
						</ul>
						<p>Rejoignez-nous dès maintenant et construisons ensemble un avenir plus inclusif !</p>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Adhésion à l'association GNUT 06 pour une association
					</button>
				</h2>
				<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
					<div class="accordion-body">
						<div class="row">
							<div class="col-md-6">
								<p>En devenant membre de Gnut 06, vous vous engagez pour une société plus inclusive grâce aux nouvelles technologies. En retour, nous vous offrons une multitude d'avantages, dont :</p>
								<ul>
									<li>
										<strong>Avantages Microsoft Nonprofit</strong>
										<p>Vous bénéficierez d'un accompagnement pour obtenir des subventions auprès de Microsoft pour les associations à but non lucratif. Pour commencer, visitez
											<a href="https://nonprofit.microsoft.com/fr-fr/getting-started" target="_blank">Microsoft Nonprofit</a>
											afin de monter votre dossier et ainsi obtenir tous les avantages pour votre association, notamment des licences gratuites à Microsoft 365 Business Basic.</p>

										<strong>Avantages de Microsoft 365 Business Basic :</strong>
										<ul>
											<li>Versions web et mobiles des applications Microsoft 365 (Word, Excel, PowerPoint, Outlook, Teams, OneDrive, SharePoint, Exchange).</li>
										</li>
									</li>
									<li>Messagerie professionnelle.</li>
									<li>1 To d’espace de stockage en ligne.</li>
									<li>Sécurité standard.</li>
									<li>Support web et téléphonique 24h/24, 7j/7.</li>
								</ul>

								<strong>Autres avantages possibles avec Microsoft Nonprofit :</strong>
								<ul>
									<li>
										<strong>Microsoft 365 Business Premium</strong>
										: Sécurité avancée, protection contre les cybermenaces, gestion avancée des appareils, et gratuit pour jusqu'à 10 utilisateurs.</li>
									<li>
										<strong>Azure</strong>
										: Optimisation des coûts et amélioration de la stabilité opérationnelle et de la résilience du réseau.</li>
									<li>
										<strong>Dynamics 365 et Power Platform</strong>
										: Mobilisation des donateurs et des bénévoles, gestion des opérations avec des applications intégrant des informations basées sur l'intelligence artificielle.</li>
								</ul>

							</ul>
							<p>Ne laissez pas passer cette opportunité de vous développer personnellement et professionnellement tout en soutenant une cause qui vous tient à cœur !</p>
						</div>
						<div class="col-md-6">
							<h3 class="text-center">Pourquoi choisir Gnut 06 ?</h3>
							<ul>
								<li>
									<strong>Un accompagnement personnalisé :</strong>
									Bénéficiez de conseils et d'un soutien pour tirer le meilleur parti de nos outils.</li>
								<li>
									<strong>Une communauté active :</strong>
									Échangez avec d'autres membres et participez à des événements.</li>
								<li>
									<strong>Des projets innovants :</strong>
									Soutenez des initiatives qui font bouger les lignes.</li>
								<li>
									<strong>Faites profiter à tous vos adhérents de l'avantage bien-être avec Pôle Ostéo !</strong>
									<p>Nous sommes ravis de vous offrir un avantage exclusif grâce à notre partenariat avec Pôle Ostéo. Bénéficiez de soins ostéopathiques de qualité pour améliorer le bien-être et la santé de tous vos adhérents.</p>
								</li>
								<li>
									<strong>Des projets innovants :</strong>
									Soutenez des initiatives qui font bouger les lignes.</li>

								<li>
									<strong>Un impact positif :</strong>
									En adhérant, vous soutenez nos projets innovants en faveur de l'inclusion numérique.</li>
							</ul>
							<p>Rejoignez-nous dès maintenant et construisons ensemble un avenir plus inclusif !</p>
							<img src="{{ asset('images/handicapwork.webp') }}" class="img-fluid" alt="Une personne travaillant sur un ordinateur portable, avec en arrière-plan des visuels représentant les valeurs de Gnut 06">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pt-5">
	<div class="my-5 mx-3">
		<iframe id="haWidget" allowtransparency="true" scrolling="auto" src="https://www.helloasso.com/associations/gnut-06/adhesions/adhesion-a-l-association-gnut-06/widget" style="width: 100%; border: none;" onload="window.addEventListener( 'message', e => { const dataHeight = e.data.height; const haWidgetElement = document.getElementById('haWidget'); haWidgetElement.height = dataHeight + 'px'; } )"></iframe>
	</div>
</div>{% endblock %}
