<h1>Bonjour !</h1>

<p>Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">Lien de réinitialisation de votre mot de passe</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cordialement !</p>
