<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% include '_partials/header.html.twig' %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% include '_partials/tarteaucitron.html.twig' %}
    </head>
    <body>
        {% include '_partials/navbar.html.twig' %}
        {% include '_partials/main.html.twig' %}

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}

        {% include '_partials/footer.html.twig' %}
        {% include '_partials/scripts.html.twig' %}
        {% include '_partials/agent_ai.html.twig' %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            
        {% endblock %}
    </body>
</html>
